.menu-mobile{
    display:none;
}
.menu-desktop{
    display:block;
}
.panel.panel-default2{
    margin-top:5%;
}
.panel-body2 {

    padding-top: 10% !important;
    padding-bottom: 10% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    box-shadow: 0px 0px 7px #3472F7;
    border-radius:4px;
}

.right-household{
    float:right;
}
.left-household{
    float:left:
}

.right-circle{
    color:#fff;
}

.mobile{
    display:none;
}

.chip.chip-md {

    height: 42px;
    line-height: 42px;
    border-radius: 21px;
    padding-right: 50px;

}
.chip.chip-md img {
    height: 42px;
    width: 42px;
}

.alert-info {
    right:30px !important;
}

.alert-danger {
    right:30px !important;
}

.chip b {

    position:absolute;
    margin-left:5px;
}
.chip:hover {

    background-color: #e0e0e0;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;

}
.waves-effect {

    position: relative;
    overflow: hidden;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;

}
.chip {

    display: inline-block;
    height: 32px;
    padding: 0 4px;
    font-size: 14px;
    font-weight: 500;
    line-height: 32px;
    color: rgba(0,0,0,0.6);
    cursor: pointer;
    background-color: #eceff1;
    border-radius: 16px;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;

}

.card .header {

    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-bottom-color: transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    padding-bottom:15px !important;

}
.card-home .header {

    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-bottom-color: transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    padding-bottom:45px !important;

}

.pagination {

    display: inline-block;
    padding-left: 0;
    margin-top: 35px !important;
    border-radius: 4px;
    margin-bottom: 0 !important;

}
.disable{
    pointer-events:none;
    background-color:#efefef !important;
}
.popover-title {

    padding: 8px 14px;
    margin: 0;
    font-size: 14px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0;
    color: #000 !important;
    font-weight: bold;

}
.popover-content {

    padding: 9px 14px;
    color: #000 !important;

}
.btn-lg {

    font-size: 17px;
    border-radius: 0;
    font-weight: 400;
    float: right;
    border: 0 !important;
    padding: 0px !important;

}

.capitalize{
    text-transform:capitalize;
}
.capitalize-red{
    text-transform:capitalize;
    color:#fff;
    background-color:#EE2D20;
}
.category-right{
    float:right;
    width:10%;
}

.category-right a{
    border-radius:3px;
}

.modal-backdrop {

    position: relative !important;
}

.badge-small {

    display: inline-block;
    min-width: 10px;
    padding: 2px 10px;
    font-size: 10px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;

}
a.badge-small:hover {

color:#fff;
}



#buttons-sub-category {
    float: left;
    margin-right: 20px;
    /* margin-top: 15px; */
    margin-bottom: 10px;
    margin-left: 10px;
}


td.small-padding {
    padding: 10px 0px !important;
}
table.dataTable thead th, table.dataTable thead td {

    padding: 10px 10px !important;
    border-bottom: 1px solid #111;

}

table.dataTable tfoot th, table.dataTable tfoot td {

    padding: 10px 18px 6px 10px !important;
    border-top: 1px solid #111;
    font-size: 12px !important;
    text-transform: uppercase !important;
}

.dataTables_wrapper .dataTables_info {

    clear: both;
    float: left;
    padding-top: 10% !important;

}
.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
    border-top: 0;
    width: auto !important;
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 6px 10px !important;
}
.card .table tbody td:first-child, .card .table thead th:first-child {
    padding-left: 10px !important;
}
td.smalltekst-home {
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.form-inline .form-control {
    display: inline-block;
    vertical-align: middle;
}
ul.dropdown-menu {
    visibility: hidden;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    display: block;
    z-index: 9000;
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
}

ul.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: transparent;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 0px solid rgba(0,0,0,.15) ;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.0) !important;
    box-shadow: 0 6px 12px rgba(0,0,0,.0) !important;
}

.open ul.dropdown-menu {
    opacity: 1;
    filter: alpha(opacity=100);
    visibility: visible;
    position: relative !important;
    width: 100% !important;
}

td.incoming{

    color:green;
}

td.outgoing{

    color:#EE2D20;
}

td.empty{

    color:#EE2D20 !important;
}
.openstaand {

     background-color: #fff3cd;
     padding: 17px;
     font-size: 20px;
     text-align: center;
     border-bottom: 1px solid #eadeb8;

 }

.letop{
    color:darkorange;
    font-weight:bold;
    font-size:22px;
}

.openstaand-dashboard {

    background-color: #fff3cd;
    padding: 5px;
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid #eadeb8;

}

.table.small-td td{
    padding: 8px 8px;
    padding-left: 8px;
    vertical-align: middle;
}

.letop-dashboard{
    color:darkorange;
    font-weight:bold;
    font-size:16px;
}

.dataTables_info{

    margin-left:20px;
}
.dataTables_length{

    margin-left:10px;
    display:block;
}

.dataTables_filter{

    float:right;
    margin-right:20px;
}

.form-control + .form-control-feedback {

    margin-top: 50px !important;
    right: 30px !important;
    color:red;

}
.form-control-feedback2 {
    color:#d9534f;
    position: relative !important;
    padding: 0px 0px 20px 0;
    font-weight:bold;

}

thead input {
    width: 100%;
    padding-left: 5px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #E3E3E3;
    height: 30px;
}

.title-table{
    margin-top:30px;
    font-weight:bold;

}
.title-table1{
    margin-top:58px;
    font-weight:bold;

}

table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
    background-position: right 83% !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0 !important;
    margin-left: 0px !important;
    color: none !important;
    border: 0px solid transparent !important;
    border-radius: 0px !important;
}
.dataTables_filter {
    display: none;
}
.dataTables_wrapper .dataTables_paginate {
    float: right;
    text-align: right;
    padding-top: 0.25em !important;
    margin-right: 20px !important;

}



.form-control {
    padding: 2px 8px !important;
    height: 30px !important;
    color:grey !important;
}

.add-new-dashboard .fa {
    float: none !important;
}

.add-new-dashboard .btn{
    background-color:#3472F7;
    color:#fff;
    float:right;
}

.add-new-dashboard .btn .fa{
    color:#fff;
    vertical-align:middle;
}

.add-new-dashboard .btn:hover .fa{
    color:#3472F7;
}


.add-new .btn{
    background-color:#3472F7;
    color:#fff;
    float:right;
    margin-top:-2%;
}

.add-new .btn .fa{
    color:#fff;
    vertical-align:middle;
    margin-left:5px;
}

.add-new .btn:hover .fa{
    color:#3472F7;
}
#mob.fa-trash::before {

    content: "\f1f8";
    font-size: 10px;
    vertical-align: middle;

}
#mob.fa-pencil-alt::before{

    content: "\f303";
    font-size: 10px;
    vertical-align: middle;

}

#table .btn-primary{
    background-color:#3472F7;
    color:#fff;
}

#table .btn-primary .fa{
    color:#fff;
}

.content .btn-primary{
    background-color:#3472F7;
    color:#fff;
}

.content .btn-primary .fa{
    color:#fff;
}
.content .btn-danger{
    background-color:#EE2D20;
    color:#fff;
}

.content .btn-danger .fa{
    color:#fff;
}

#table .btn-danger{
    background-color:#EE2D20;
    color:#fff;
}

#table .btn-danger .fa{
    color:#fff;
}

#table .btn-info{
    background-color:#1DC7EA;
    color:#fff;
}

#table .btn-info .fa{
    color:#fff;
}
.btn {
    padding: 4px 8px !important;
}

.btn-primary-sub {
    padding: 0px !important;
    background-color:#3472F7 !important;
    color:#fff !important;
    border:none !important;
}
.btn-danger-sub {
    padding: 0px !important;
    background-color:#EE2D20 !important;
    color:#fff !important;
    border:none !important;
}

span.secondary{

    font-size:12px;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee !important;
    border: 1px solid #ccc;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgb(204, 204, 204);
    border-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.input-group{
    margin-bottom:15px;
}

.mobile-dashboard-buttons{
    display:none;
}
.card .table tbody td:last-child, .card .table thead th:last-child {
    padding-right: 0px;
}
.card-home {
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0px 3px 1px rgba(63, 63, 68, 0.2);
    background-color: #FFFFFF;
    margin-bottom: 30px;
    height:375px;
}


.card-home .image {
    width: 100%;
    overflow: hidden;
    height: 260px;
    border-radius: 4px 4px 0 0;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#text{
    position: absolute;
    text-align:center;
    top: 45%;
    left: 50%;
    font-size: 45px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#text-small {

    position: absolute;
    text-align: center;
    top: 45%;
    left: 37%;
    font-size: 35px;
    color: white;
    transform: translate(-30%,-50%);
    -ms-transform: translate(-50%,-50%);

}

#text-small .btn {

    background-color: #3472F7;
    color: #fff;
    margin: 0 auto;
    display: block;
    margin-top:3%;
}
#text .btn {

    background-color: #3472F7;
    color: #fff;
    margin: 0 auto;
    display: block;
    margin-top:3%;
}

.card-home .image img {
    width: 100%;
}

.card-home .filter {
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.68);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    filter: alpha(opacity=0);
}

.card-home .filter .btn {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.card-home:hover .filter {
    opacity: 1;
    filter: alpha(opacity=100);
}

.card-home .btn-hover {
    opacity: 0;
    filter: alpha(opacity=0);
}

.card-home:hover .btn-hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.card-home .content {
    padding: 15px 15px 10px 15px;
}

.card-home .header {
    padding: 15px 15px 0;
}

.card-home.category,
.card-home label {
    font-size: 14px;
    font-weight: 400;
    color: #9A9A9A;
    margin-bottom: 0px;
}

.card-home .category i,
.card-home label i {
    font-size: 16px;
}

.card-home label {
    font-size: 12px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.card-home .title {
    margin: 0;
    color: #333333;
    font-weight: 300;
}

.card-home .title-dashboard {
    margin: 0;
    color: #333333;
    font-weight: 400;
    float:left;
    margin-bottom:2%;

}

.card-home .avatar {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5px;
}

.card-home .description {
    font-size: 14px;
    color: #333;
}

.card-home .footer {
    padding: 0;
    background-color: transparent;
    line-height: 30px;
}

.card-home .footer .legend {
    padding: 5px 0;
}

.card-home.footer hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.card-home .stats {
    color: #a9a9a9;
}

.card-home .footer div {
    display: inline-block;
}

.card-home.author {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.card-home .author i {
    font-size: 14px;
}

.card-home h6 {
    font-size: 12px;
    margin: 0;
}

.card-home.card-separator:after {
    height: 100%;
    right: -15px;
    top: 0;
    width: 1px;
    background-color: #DDDDDD;
    content: "";
    position: absolute;
}

.card-home .ct-chart {
    margin: 30px 0 30px;
    height: 245px;
}

.card-home .table tbody td:first-child,
.card-home .table thead th:first-child,
.card-home .table tfoot th:first-child {
    padding-left: 15px;
}

.card-home .table tbody td:last-child,
.card-home .table thead th:last-child {
    padding-right: 15px;
}

.card-home .alert {
    border-radius: 4px;
    position: relative;
}


.card-home .alert.alert-with-icon {
    padding-left: 65px;
}
.accordion {
    display:none;
}
.sub-mobile{
    display:none;
}
.sub-desktop{
    display:block;
}

.panel-heading-login{
    text-align:center;
    font-size:20px;
    color:#fff;
    padding:10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color:#3472F7;
}

.form-control-feedback-warning{
    color:#f0ad4e;
    margin-bottom:10px;
    font-weight:bold;
}


#confirmOverlay{
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    background:url('ie.png');
    background: -moz-linear-gradient(rgba(11,11,11,0.1), rgba(11,11,11,0.6)) repeat-x rgba(11,11,11,0.2);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(11,11,11,0.1)), to(rgba(11,11,11,0.6))) repeat-x rgba(11,11,11,0.2);
    z-index:100000;
}

#confirmBox{
    background:url('body_bg.jpg') repeat-x left bottom #e5e5e5;
    width:460px;
    position:fixed;
    left:50%;
    top:50%;
    margin:-130px 0 0 -230px;
    border: 1px solid rgba(33, 33, 33, 0.6);

    -moz-box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset;
    -webkit-box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset;
}

#confirmBox h1,
#confirmBox p{
    font:26px/1 'Cuprum','Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    background:url('header_bg.jpg') repeat-x left bottom #f5f5f5;
    padding: 18px 25px;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
    color:#666;
}

#confirmBox h1{
    letter-spacing:0.3px;
    color:#888;
}

#confirmBox p{
    background:none;
    font-size:16px;
    line-height:1.4;
    padding-top: 35px;
}

#confirmButtons{
    padding:15px 0 25px;
    text-align:center;
}

#confirmBox .button{
    display:inline-block;
    background:url('buttons.png') no-repeat;
    color:white;
    position:relative;
    height: 33px;

    font:17px/33px 'Cuprum','Lucida Sans Unicode', 'Lucida Grande', sans-serif;

    margin-right: 15px;
    padding: 0 35px 0 40px;
    text-decoration:none;
    border:none;
}

.custom-file-label::after {
    display:none !important;

}


#confirmBox .button:last-child{ margin-right:0;}

#confirmBox .button span{
    position:absolute;
    top:0;
    right:-5px;
    background:url('buttons.png') no-repeat;
    width:5px;
    height:33px
}

#confirmBox .blue{              background-position:left top;text-shadow:1px 1px 0 #5889a2;}
#confirmBox .blue span{         background-position:-195px 0;}
#confirmBox .blue:hover{        background-position:left bottom;}
#confirmBox .blue:hover span{   background-position:-195px bottom;}

#confirmBox .gray{              background-position:-200px top;text-shadow:1px 1px 0 #707070;}
#confirmBox .gray span{         background-position:-395px 0;}
#confirmBox .gray:hover{        background-position:-200px bottom;}
#confirmBox .gray:hover span{   background-position:-395px bottom;}




/*.title h4 {*/
/*float:left;*/
/*}*/

/*.no-padding {*/
/*padding: 0 !important;*/
/*}*/

/*.form-control .dropdown-menu {*/
/*border-radius:0px !important;*/
/*margin-top:10px !important;*/
/*}*/

/*.open .form-control {*/
/*border-radius:0 !important;*/
/*border-bottom-color:#E3E3E3 !important;*/
/*}*/