@media only screen and (max-width: 1024px) {
    .mobile{
        display:block;
    }
    .right-household{
        float:none !important;
    }
    .left-household{
        float:none !important;
    }
    a:focus{
        outline:none !important;
        box-shadow: 0px 0px 2px 2px darkred !important;
        border-radius:2px;
        outline-offset:0px !important;
    }

    span:focus{
        outline:none !important;
        box-shadow: none !important;
        border-radius:2px;
        outline-offset:0px !important;
    }
    .right-circle {
        color: #fff;
        margin-top: -1px !important;
    }

    .openstaand {
        background-color: #fff3cd;
        padding: 8px;
        font-size: 16px;
        text-align: center;
        margin-top: -10px;
        margin-bottom: 20px;
        border-bottom: 1px solid #eadeb8;
    }
    .letop{
        color:darkorange;
        font-weight:bold;
        font-size:20px;
    }


    .row
    {

        background-image: url("../img/achtergrond.png") !important;
        background-repeat: repeat;
    }

    .panel.panel-default2{
        width:100%;
        margin-top:0;
    }
    .right-circle{
        float: left;
        margin-right: 10px;
        margin-top: 4px;
    }
    .panel-body2 {

        padding-top: 10% !important;
        padding-bottom: 10% !important;
        padding-left: 10% !important;
        padding-right: 10% !important;
        box-shadow: 0px 5px 10px -10px #000;
        border-radius: 0px;

    }
    .alert-info {
        right:15px !important;
    }
    .alert-danger {
        right:15px !important;
    }
    body {

        background-color: #fff !important;

    }

    #text {
        position: absolute;
        text-align: center;
        top: 64%;
        left: 40%;
        font-size: 30px;
        color: white;
        transform: translate(-35%,-50%);
        -ms-transform: translate(-50%,-50%);
    }
    #text-small {

        position: absolute;
        text-align: center;
        top: 61%;
        left: 33%;
        font-size: 30px;
        color: white;
        transform: translate(-26%,-47%);
        -ms-transform: translate(-50%,-50%);

    }

    .card .title {

        margin: 0;
        margin-bottom: 0px;
        color: #333333;
        font-weight: 300;
        margin-bottom: 5px !important;

    }

    .add-new .btn {

        background-color: #3472F7;
        color: #fff;
        float: right;
        margin-top: 0 !important;
        padding: 3px !important;
        border-radius: 4px !important;
        margin-right: -6px;

    }

    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {

        float: none;
        display: block;
        margin-left: 0;

    }
    .btn-primary {

        border-color: #3472F7;
        color: #3472F7;
        z-index: 0 !important;
        position: relative;

    }

    .picker--opened .picker__frame {

        top: 25%;
        bottom: auto;
        z-index: 10000;

    }
    .input-select {

        position: relative;
        display: table;
        border-collapse: separate;

    }

    div.phpdebugbar-closed, div.phpdebugbar-minimized {
        border-top-color: #ddd;
        display: none;
    }
    .modal-dialog-centered {

        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        min-height: calc(100% - (.5rem * 2));
        width: 100% !important;
        margin: 0 auto;

    }
    select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] { font-size: 16px; }
    .card-home .title-dashboard {
        margin: 0;
        color: #333333;
        font-weight: 300;
        float: left;
        margin-bottom: 2%;
        font-weight: 400;
    }
    .col-md-6 {
        width: 100% !important;
    }

    .add-new-dashboard{
        display:none;
    }
    .panel-default>.panel-heading {
        background: -ms-linear-gradient(#3472F7, blue);
        background: -moz-linear-gradient(#3472F7, blue);
        background: -webkit-linear-gradient(#3472F7, blue);
        background: -o-linear-gradient(#3472F7, blue);
        background: linear-gradient(#3472F7, blue);
        border-color: #ddd;
        color: #fff !important;
    }

    .fa-comments {
        margin-right: 10px;
        font-size: 25px !important;
    }
    .fa-info {
        /*margin-right: 10px;*/
        font-size: 25px !important;
    }

    .menu-mobile{
        display:block;
        bottom: 0;
        position: fixed !important;
        width: 100%;
        z-index: 999;
    }
    .main-panel{
        margin-bottom:80px;
        width: 100% !important;
    }
    .menu-desktop{
        display:none;
    }
    .icons-top-right{
        float:right;
    }
    .menu-mobile p {
        font-size: 13px;
        text-align: center;
        margin-top: 5px;
        font-weight:bold;
    }

    .menu-mobile .fa {
        font-size: 50px;
        display: block;
        margin: 0 auto;
    }
    .fa-exchange:before {
        content: "\f0ec";
        margin-left: -15px;
    }
    .fa-cubes:before {
        content: "\f0ec";
        margin-left: -15px;
        font-size:45px;
    }

    #capitalize-warning{
        text-transform:capitalize;
        color:darkred !important;
font-weight:bold;
    }
    span.right-circle{
        margin-left: 5px;
        color: darkred;
        float: right;
        margin-top: 2px;
    }


    .panel-heading-login span{
        text-transform: capitalize;
    }
    .panel-heading-login a{
        color: #fff;
    }
    .panel-heading-login{
        border-radius:0px;
    }
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        padding: 10px 6px;
        vertical-align: middle;
    }

    .navbar-default {
        background: -ms-linear-gradient(#222, black);
        background: -moz-linear-gradient(#222, black);
        background: -webkit-linear-gradient(#222, black);
        background: -o-linear-gradient(#222, black);
        background: linear-gradient(#222, black);
        box-shadow: 0px 0px 1px 1px #111;
    }

    [class^="pe-7s-"], [class*=" pe-7s-"] {
        display: block !important;
        font-family: 'Pe-icon-7-stroke';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        margin: 0 auto;
        text-align: center;
        /* margin-bottom: 10px; */
        height: 50px;
        line-height: 1;
        font-size:55px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .navbar .navbar-brand {
        font-weight: 400;
        margin: 0px !important;
        padding: 0px !important;
        width:14%;
        margin-right: 20px;
        border-right: 1px inset #555;
    }
    .navbar-default .navbar-brand {

        color: #999 !important;

    }
    .panel-heading-login {

        text-align: center;
        font-size: 20px;
        color: #fff;
        padding: 10px;
        background-color: #222;

    }
    .navbar {
        margin-bottom: 0px !important;
        height:80px !important;
        z-index:999;
    }

    .pagination {
        display: inline-block !important;
        margin: 20px 0;
        border-radius: 4px;
        float: right;
        margin-right: 25px !important;
    }
    .row {
        margin-right: -15px;
        margin-left: -15px;
        background-color: #fff;
    }
    li#table_previous button{
        border-top-left-radius:4px;
        border-bottom-left-radius:4px;
    }
    li#table_next button{
        border-top-right-radius:4px;
        border-bottom-right-radius:4px;
    }
    .paginate_buttonsub {
        position: relative;
        float: left;
        padding: 6px 12px;
        margin-left: -1px;
        line-height: 1.42857143;
        color: #fff;
        text-decoration: none;
        background-color: #337ab7;
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;
        width: 20%;
        text-align: center;
    }
    .pagination>li>button {
        position: relative;
        float: left;
        padding: 6px 12px;
        margin-left: -1px;
        line-height: 1.42857143;
        color: #337ab7;
        text-decoration: none;
        background-color: #fff;
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;
        border-left: 0px !important;
        border-right: 0px !important;
        border-radius:0 !important;
        width:40%;
    }
    .pagination {
        display: inline-block;
        padding-left: 0;
        margin: 0 !important;
        margin-top: 0px;
        margin-right: 0px;
        border-radius: 0px !important;
        width: 100%;
        margin-top: 1% !important;
        margin-right: -2px !important;
    }
    .mobile-dashboard-buttons{
        display:block;
    }

    .card-home{
        border-radius:0px;
    }


    .mobile-dashboard-buttons .btn {
        width: 100%;
        border-botom:2px solid;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        font-size: 30px;
        color: #fff;
        margin-top:10px;
        background: -ms-linear-gradient(#3472F7, blue);
        background: -moz-linear-gradient(#3472F7, blue);
        background: -webkit-linear-gradient(#3472F7, blue);
        background: -o-linear-gradient(#3472F7, blue);
        background: linear-gradient(#3472F7, blue);
        border:none!important;
        border-radius:0;
    }
    .mobile-dashboard-buttons-sub .btn {
        width: 100%;
        margin-bottom: 10px;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        border:none!important;
        font-size: 35px;
        color: #fff;
        margin-top:0px;
        border-radius:0px;
        background: -ms-linear-gradient(#3472F7, blue);
        background: -moz-linear-gradient(#3472F7, blue);
        background: -webkit-linear-gradient(#3472F7, blue);
        background: -o-linear-gradient(#3472F7, blue);
        background: linear-gradient(#3472F7, blue);
        box-shadow: 0px 2px 2px #999;
    }
    .navbar-collapse .nav, .sidebar .nav {
        margin-top: 0px !important;
    }
    .sidebar .nav li.separator {
        margin: 0px !important;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
    .col-md-6,.col-sm-12, .col-sm-6, .col-md-12 {
        padding-left:0px !important;
        padding-right:0px !important;
    }
    .col-md-6{
        padding:0!important;
    }
    .col-md-4{
        padding:0!important;
    }

    .col-md-8{
        width:60%;
        margin:0 auto;
    }
    .navbar-collapse .nav, .sidebar .nav {
        margin-top: 0px;
    }
    .navbar-collapse .nav li > a, .sidebar .nav li > a {
        padding: 0px 10px;
    }
    .card .content {
        padding: 15px 15px 10px 0px;
    }
    .card-home {
        height:auto;
        box-shadow: 0px 0px 5px #999;
    }
    .card-sub {
        border-radius: 0px !important;
         box-shadow: none !important;
         margin-bottom: 0px;
    }
    /* Style the buttons that are used to open and close the accordion panel */
    .accordion {
        background: -ms-linear-gradient(#3472F7, darkblue);
        background: -moz-linear-gradient(#3472F7, darkblue);
        background: -webkit-linear-gradient(#3472F7, darkblue);
        background: -o-linear-gradient(#3472F7, darkblue);
        background: linear-gradient(#3472F7, darkblue);
        color: #fff;
        cursor: pointer;
        padding: 8px;
        font-size:16px;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
        display:block;
        border-radius:0px;
    }

    .subpage .accordion {
        background: -ms-linear-gradient(#3472F7, blue);
        background: -moz-linear-gradient(#3472F7, blue);
        background: -webkit-linear-gradient(#3472F7, blue);
        background: -o-linear-gradient(#3472F7, blue);
        background: linear-gradient(#3472F7, blue);
        color: #fff;
        cursor: pointer;
        font-size:14px;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
        display:block;
        border-radius:0px;
        padding:8px;
    }

    .subpage .category {
        background: -ms-linear-gradient(#3472F7, blue);
        background: -moz-linear-gradient(#3472F7, blue);
        background: -webkit-linear-gradient(#3472F7, blue);
        background: -o-linear-gradient(#3472F7, blue);
        background: linear-gradient(#3472F7, blue);
        color: #fff;
        cursor: pointer;
        font-size:18px;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        border-radius:0px;
        padding:12px;
        margin-top:1px;
        margin-bottom:1px;
    }

    .subpage .subcategory {
        background: -ms-linear-gradient(#94C4E6, lightblue);
        background: -moz-linear-gradient(#94C4E6, lightblue);
        background: -webkit-linear-gradient(#94C4E6, lightblue);
        background: -o-linear-gradient(#94C4E6, lightblue);
        background: linear-gradient(#94C4E6, lightblue);
        color: #fff;
        cursor: pointer;
        font-size:18px;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        border-radius:0px;
        padding: 3px 8px 3px 12px;

    }

    #sub.accordion {
        background: -ms-linear-gradient(#94C4E6, lightblue);
        background: -moz-linear-gradient(#94C4E6, lightblue);
        background: -webkit-linear-gradient(#94C4E6, lightblue);
        background: -o-linear-gradient(#94C4E6, lightblue);
        background: linear-gradient(#94C4E6, lightblue);
        color: #fff;
        cursor: pointer;
        font-size:14px;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        border-radius:0px;
        padding: 3px 12px 3px 12px;
        margin-top:-2px;

    }
    .subpage .table-responsive {
        border: none !important;
        margin-bottom:0 !important;
    }

    .description {
        color: #000;
        padding: 8px;
        border-top: 1px solid #9A9A9A;
    }
    .card-sub label {
        width: 99%;
    }

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    .active, .accordion:hover {
        background-color: #3472F7;

    }

        /* Style the accordion panel. Note: hidden by default */
     .panel-home {
         max-height: 0;
         overflow: hidden;
         margin-bottom:5px;
         position:relative;
         transition: max-height 0.5s ease-out;
     }
    .panel-sub {
        max-height: 0;
        overflow: hidden;
        background-color:#fff;
        margin-bottom:2px;
        transition: max-height 0.5s ease-out;
    }

    .accordion:after {
        content: '\f067'; /* Unicode character for "plus" sign (+) */
        font-family: FontAwesome;
        color: #fff;
        font-weight:bold;
        float: right;
        margin-top: 4px;
    }

    .accordion.active:after {
        content: "\f068"; /* Unicode character for "minus" sign (-) */
        color: #fff;
        font-family: FontAwesome;
        margin-top: 4px;
    }

    .dataTables_filter {
        display: block;
        width:100%;
    }
    .dataTables_filter .input .form-control .input-sm {
        width:100%;
    }
    .dataTables_length {
        display:none;
    }

    .dataTables_wrapper .dataTables_filter {
         float: none !important;
         text-align: left !important;
    }

    .nav .active{

        background:transparent;
    }
    .nav .active:after{
        display:none;
    }

    .sub-mobile{
        display:block;
        background-color:#f8f8f8;
    }
    .sub-desktop{
        display:none;
    }

    .subpage {
        color: #fff;
        border-radius: 0px;
    }

    [class^="pe-7s-user"], [class*=" pe-7s-user"] {

        display: inline-block;
        font-family: 'Pe-icon-7-stroke';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 30px !important;
        display: inline-block !important;
        margin-top: 0px;
        width: 25px;
        margin-top: 5px;
        float: right;
        margin-left: 5px;

    }

    .subpage .table > thead > tr > th {
        border-bottom-width: 0 !important;
        font-size: 12px;
        text-transform: uppercase;
        color: #9A9A9A;
        font-weight: bold;
        border-right: 2px solid;
        margin-right: 10px;
    }
    .subpage .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
        padding-top: 11px;
        vertical-align: top;
        border-top: 0px;
        padding-bottom: 2px;
    }
    .subpage .table {
         margin-bottom: 0px;
        width:82%;
    }
    .card-sub .image {
        width: 100%;
        overflow: hidden;
        height: 260px;
        border-radius: 4px 4px 0 0;
        position: relative;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

    .card-sub .image img {
        width: 100%;
    }

    .card-sub .filter {
        position: absolute;
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.68);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .card-sub .filter .btn {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .card-sub:hover .filter {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    .card-sub .btn-hover {
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .card-sub:hover .btn-hover {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    .card-sub .content {
        padding: 0px;
    }

    .card-sub th {
        color:#000;
    }

    .card-sub .header {
        padding: 15px 15px 0;
    }
    .panel-default{
        margin-top:20px !important;
    }

     .main-panel > .content {
        padding: 0px !important;
        min-height: calc(100% - 123px);
    }


    .subpage thead {
        float: left;
    }
    .subpage thead th {
        display: block;
    }

    .subpage tbody {
        float: left;
    }
    .subpage tbody tr {
        display: block;
        float: left;
    }
    .subpage tbody td {
        display: block;
    }

    .buttons-subpage{
        margin-bottom:10px
    }

    #buttons-sub {
        float: right;
        margin-right: 20px;
        margin-top: 15px;
    }
    #buttons-sub-cat {
        float: right;
    }

    .btn-primary-sub {
        padding: 0px !important;
        background-color:#3472F7 !important;
        color:#fff !important;
        border:none !important;
        border-radius: 4px !important;
    }
    .btn-primary-submedia {
        color: #3472F7 !important;
        padding: 0 !important;
        border: none !important;
    }
    .btn-danger-sub {
        padding: 0px !important;
        background-color:#EE2D20 !important;
        color:#fff !important;
        border:none !important;
        border-radius: 4px !important;
    }

    .sub-small-text{
        font-size:14px;
    }

    td.incoming{

        color:green !important;
    }

    td.outgoing{

        color:#EE2D20 !important;
    }
    td.green{

        color:green !important;
    }

    td.red{

        color:#EE2D20 !important;
    }
    .subpage td{
        color:#000;
    }
    .subpage .accordion:after {

        font-family: FontAwesome;
        color: #fff;
        font-weight: lighter;
        float: right;
        font-size: 13px;
    }
    .panel {
        margin-bottom: 20px;
        background-color: #fff;
        border: 1px solid transparent;
        border-radius: 4px;
        width: 100%;
        margin: 0 auto;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }
    .form-horizontal .form-group {
         margin-right: 0px !important;
         margin-left: 0px !important;
    }

    .sub-mobile select{
        float:left;
        width:21% !important;
        margin-left:1%;
        padding: 0px 2px !important;
        margin-top:5px;
        -webkit-appearance: menulist;
    }
    .sub-mobile input{
        float:left;
        width:16% !important;
        margin-left:1%;
        border: 1px solid #E3E3E3;
        border-radius:4px;
        height:30px !important;
        margin-top:5px;
        padding: 0px 5px !important;
    }

    input#fullwidth{
        width:95% !important;
    }


    #green{
        background: -ms-linear-gradient(#6DBC51, green);
        background: -moz-linear-gradient(#6DBC51, green);
        background: -webkit-linear-gradient(#6DBC51, green);
        background: -o-linear-gradient(#6DBC51, green);
        background: linear-gradient(#6DBC51, green);
    }
    #red{
        background: -ms-linear-gradient(#FF594F, darkred);
        background: -moz-linear-gradient(#FF594F, darkred);
        background: -webkit-linear-gradient(#FF594F, darkred);
        background: -o-linear-gradient(#FF594F, darkred);
        background: linear-gradient(#FF594F, darkred);
    }
    #clear-filter{
        float: right;
        margin-top: 6px;
        margin-right:10px;
    }

    #clear-filter.btn{
        padding:2px 8px !important;
    }

    td.smalltekst {
        max-width: 200px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    b.smalltekst {
        max-width: 200px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        vertical-align:center;
    }

    td.smalltekst-home {
        max-width: 200px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }



}
@media only screen and (max-width: 820px) {

    .card .content {
        padding: 0px !important;
    }
    .card-home .content {
        padding: 0px;
    }
}
@media only screen and (max-width: 414px) {
    .sub-mobile input {
        float: left;
        width: 46% !important;
        margin-left: 2.66%;
        border: 1px solid #E3E3E3;
        border-radius: 4px;
        height: 30px !important;
        padding: 0px 5px !important;
    }
    .main-panel{
        margin-bottom:65px;
    }

    td.smalltekst-home {
        max-width: 90px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    td.smalltekst {
        max-width: 180px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }


    .sub-mobile select {
        float: left;
        width: 46% !important;
        margin-left: 2.66%;
        padding: 0px 5px !important;
    }
    #clear-filter{
        float: right;
        margin-top: 3%;
        margin-bottom:3%;
        margin-right: 1.5%;
    }

    #clear-filter button{
        border-radius:4px !important;
    }
    .col-md-8 {
        width: 90%;
        margin: 0 auto;
    }
    .col-md-6, .col-md-12{
        padding-left:0px !important;
        padding-right:0px !important;
    }


    [class^="pe-7s-"], [class*=" pe-7s-"] {
        display: inline-block;
        font-family: 'Pe-icon-7-stroke';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 20px !important;
        font-size:35px;
        height:25px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .navbar-default {
        padding-top:0px;
        padding-bottom:0px;
    }
    .menu-mobile .fa {
        font-size: 30px;
        display: block;
        margin: 0 auto;
        margin-top:-5px;

    }
    .navbar {
        margin-bottom: 0px !important;
        height: 55px !important;
    }
    .menu-mobile p {
        font-size: 8px;
        text-align: center;
    }
    .navbar .navbar-brand {
        padding-top: 10px !important;
    }
    .main-panel > .content {
        padding: 0px !important;
        min-height: calc(100% - 123px);
    }
    .fa-exchange:before {
        content: "\f0ec";
        margin-left: -5px;
    }

    .fa-cubes:before {
        content: "\f0ec";
        margin-left: -5px;
        font-size:25px;
    }
    .mobile-dashboard-buttons-sub .btn {
        font-size: 30px;
    }

}
@media only screen and (max-width: 320px) {

    [class^="pe-7s-"], [class*=" pe-7s-"] {
        font-size:23px;

    }
    .menu-mobile p {
        font-size: 7px;
        text-align: center;
    }
    .fa-exchange:before {
        content: "\f0ec";
        margin-left: -3px;
    }
    .fa-cubes:before {
        content: "\f0ec";
        margin-left: -3px;
    }

    .mobile-dashboard-buttons-sub .btn {
        font-size: 25px;
    }
    .subpage .accordion {
        font-size:15px;
    }
    td.smalltekst {
        max-width: 100px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

}

@media only screen
and (device-width : 375px)
and (device-height : 812px)
and (-webkit-device-pixel-ratio : 3)
and (orientation: portrait){

    .navbar {
        margin-bottom: 0px !important;
        height: 67px !important;
        z-index: 999;
    }
}

@media only screen
and (device-width : 375px)
and (device-height : 812px)
and (-webkit-device-pixel-ratio : 3)
and (orientation: landscape){

    .navbar {
        margin-bottom: 0px !important;
        height: 102px !important;
        z-index: 999;
    }
    .main-panel{
        margin-bottom:100px;
    }
}



